
.btn-theme {
    color: #fff;
    background-color:   #8490ff;
    border-color:  #8490ff;
  }
  .btn-theme:hover,
  .btn-theme:focus,
  .btn-theme:active,
  .btn-theme.active,
  .open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color:  #8490ff;
    border-color:  #8490ff;
  }

.btn-close{
    color: #8490ff;
    background-color:   #ffffff;
    border-color:  #8490ff;
    border-width: 3px; 
  }