<div class="main-content">
        <div class="container content">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><img src="../../../assets/img/decline.png"></h3>
                                <h3 class="text-center">You decline the invitation !</h3>
                                <div class="form-group">
                                    <input routerLink="/" routerLinkActive="router-link-active" mat-raised-button
                                        type="submit" class="btn btn-lg btn-bleu btn-block" value="Return to login page">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>