<div class="main-content">
    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><img src="../../../assets/img/forgot_password.svg"></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>Don't worry, You can reset your password here. Insert your address email</p>
                            <div class="panel-body">
                                <div class="form-group">
                                    <mat-form-field class="input-group">
                                        <input type="text" matInput placeholder="Address email" [formControl]="email"
                                            required>
                                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <p>After click "send", an email will be sent to this address. Please check your mail to
                                    reset your password</p>
                                <div class="form-group">
                                    <input mat-raised-button type="submit" class="btn btn-lg btn-bleu btn-block"
                                        (click)="onSubmit()" value="Send">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>