<div class="main-content">
    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><img src="../../../assets/img/reset-success.png"></h3>
                            <h2 class="text-center">New Password</h2>
                            <p>Insert the new password</p>
                            <div class="panel-body">
                                <form [formGroup]="restPasswordForm" [matchValue]="['password', 'confirmation']">
                                    <div class="form-group">
                                        <mat-form-field class="input-group">
                                            <input type="password" matInput placeholder="New password"
                                                [type]="hide_password ? 'password' : 'text'" formControlName="password"
                                                required="required">
                                            <button mat-icon-button matSuffix (click)="hide_password = !hide_password"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                                                <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </mat-form-field>

                                        <mat-form-field class="input-group">
                                            <input type="password" matInput placeholder="Confirm the new password"
                                                type="password" formControlName="confirmation" required="required">
                                            <mat-error
                                                *ngIf="restPasswordForm.hasError('matchValueError','confirmation')">
                                                Confirm Password & Password must be same.</mat-error>
                                        </mat-form-field>

                                    </div>
                                    <div class="form-group">
                                        <input mat-raised-button type="submit" class="btn btn-lg btn-bleu btn-block"
                                            (click)="onSubmit()" value="Reset Password">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        
    </div>
</div>