.main-content{
    z-index: 1;
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover; 
}

.content{
    margin: 5% 35% auto;
}

.btn-bleu{ 
    color: #fff;
    background-color:#8490ff;
    border-color: #8490ff; }
    .btn-bleu:hover {
      color: grey;
      background-color:#8490ff}

img {
    height: 200px;
    width: 200px;
      }
    
